.lista-container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h2 {
  margin: 0;
  color: #3f51b5;
}

table {
  width: 100%;
}

.activo {
  color: #4caf50;
  font-weight: bold;
}

.inactivo {
  color: #f44336;
  font-weight: bold;
}
